div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

div a{
    padding:0.5rem 1rem;
    margin: 0 0.5rem;
    font-size: 1rem;
    color: black;
    border-radius: 10rem;
    border: none;
    width: auto;
    background-color: rgb(195, 138, 69);
    font-variant: small-caps;
    font-weight: 1000;
    text-decoration: none;
    
}

div a:hover{
    transform:scale3d(1.1,1.1,1.1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}