div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

div input{
    padding: 0.5rem;
    font-size: 1rem;
    color: black;
    height: 3rem;
    border-radius: 10rem 0 0 10rem;
    border: none;
    width: 20rem;
    background-color: rgb(195, 138, 69);
    font-variant: small-caps;
    font-weight: 1000;   
}

div button {
    border-radius: 0 10rem 10rem 0;
    height: 3rem;
    width: 3rem;
    background-color: blanchedalmond;
    border: none;
    font-variant: small-caps;
    opacity: 0.7;
    font-weight: 1000;  
    font-size: 1rem;
    color: black;
    cursor: pointer; 
}

div button:hover{
    opacity: 1;
    transition: 0.5s;
    transform: scale(1.2);
}