<div class="container">
    <img [src]="food.imageUrl" [alt]="food.name"/>
        <div class="details">
            <div class="header">
            <h1>{{food.name}}</h1>
            <span class="favorite">&hearts;</span>
            <h2>Price: {{food.price | currency}}</h2>
            <h2>Cooking time:{{food.cookingTime}} minutes</h2>
            <h2>Origin: {{food.origins}}</h2>
            </div>
            <button  (click)="addToCart()" class="btn btn-primary" >Add to cart</button>

       <div class="content">
            <div class="tags">
                <app-tags [foodPageTags]="food.tags"></app-tags>
            </div>
        </div>

    </div>
    
    
</div>
